<!DOCTYPE html>
<html>

  <head>
    <title>Bluemix Flask Application</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/style.css">
  </head>

  <body>
    <table>
      <tr>
        <td style= "width:30%;">
          <img class = "newappIcon" src="static/images/newapp-icon.png">
        <td>
            <h1>金融宮大工講座デモ(2016/04/13)</h1>
          <p>Create
            <span class = "blue">Bluemix デモアプリ</span>.
    </table>
  </body>

</html>
